.section-main {
  padding-top: 100px;
  padding-bottom: 70px;
  // outline: 1px dashed black;
}

.section__title {
  text-transform: uppercase;
  letter-spacing: 0;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;

  font-size: 36px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 30px;
}

/*career*/

.career {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.career__list {
  padding: 0;
  margin: 0;
  margin-left: 150px;
}

.career__item {
  text-align: center;
  margin-bottom: 20px;
  list-style: none;
}

.career__block {
  width: 380px;
  border: 1px solid #dedede;
  display: inline-block;
  position: relative;
  text-align: left;
  background: #fff;
  border-radius: 9px;
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
}

.career__title {
  font-weight: bold;
}

.career__year {
  position: absolute;
  right: 100%;
  top: 50%;
  line-height: 16px;
  margin-top: -8px;
  margin-right: 43px;
}

.career__year:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #33c1e3;
  border-radius: 50%;
  position: absolute;
  right: -19px;
  top: 50%;
  margin-top: -5px;
  //   z-index: 1;
}

.career__block:before,
.career__block:after {
  content: '';
  display: block;
  width: 1px;
  background: #dddddd;
  position: absolute;
  left: -30px;
}

.career__block:after {
  bottom: -22px;
  top: 50%;
  margin-top: 10px;
}

.career__block:before {
  top: 0;
  bottom: 50%;
  margin-bottom: 10px;
}

.career__item:first-child .career__block:before {
  display: none;
}

.career__item:last-child .career__block:after {
  display: none;
}

.career__chronology {
  position: sticky;
  top: 6em;
  // outline: 1px dashed black;
}

//Стилизация левого блока при наведении

.career__item:hover {
  cursor: pointer;
  transition: 0.3s;
}

.career__block:hover {
  background-color: #33c1e3;
  color: #fff;
}

.career__block:hover .career__year {
  color: #33c1e3;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

//JS скрипт, ставит выбранному блоку класс active

.career__item.active .career__block {
  background-color: #33c1e3;
  color: #fff;
}

.career__item.active .career__year {
  color: #33c1e3;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

//Стилизауия блоков с детальной информацией
.career__information {
  width: 550px;
  margin-left: 50px;
}

.career-info-1 {
  display: block;

  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: $delay;
}

.career-info-1.hidden {
  display: none;
}

.career-info-1 .career-info__img {
  display: flex;
  align-items: center;
  width: 550px;
}

.career-info-2 {
  display: block;

  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: $delay;
}

.career-info-2.hidden {
  display: none;
}

.career-info-2 .career-info__img {
  width: 550px;
}

.career-info-3 {
  display: block;

  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: $delay;
}

.career-info-3.hidden {
  display: none;
}

.career-info-3 .career-info__img {
  align-items: center;
  width: 550px;
}

.career-info-4 {
  display: block;

  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: $delay;
}

.career-info-4.hidden {
  display: none;
}

.career-info-4 .career-info__img {
  align-items: center;
  width: 550px;
}

.career-info-5 {
  display: block;

  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: $delay;
}

.career-info-5.hidden {
  display: none;
}

.career-info-5 .career-info__img {
  align-items: center;
  width: 550px;
}

.career-info__title {
  margin-top: 10px;
}

.career-info-1 .career-info__title,
.career-info-2 .career-info__title,
.career-info-3 .career-info__title,
.career-info-4 .career-info__title,
.career-info-5 .career-info__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  // color: #fb6d3a;
}

.career-info__comapany {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fb6d3a;
}

.career-info__logo {
  margin-left: 10px;
  margin-right: 10px;
}

.career-info__additional-info {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}
.career-info__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.career-info__list {
  margin-top: 5px;
}

.career-info__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.career-info__subitem {
  padding-left: 20px;
}

.career-info__period {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #a8a8a8;
}

.career-info__slash {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.btn-show {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 35px;
  line-height: 37px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  &:hover {
    background: #85807f;
    box-shadow: 0 15px 20px rgba(84, 87, 86, 0.4);
    color: white;
    transform: translateY(-7px);
  }
}
