.title__text {
  text-align: center;

  font-size: 54px;
  line-height: 1.18;

  text-transform: uppercase;
  letter-spacing: 0;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
}

.title__thumb {
  margin-top: 100px;
  margin-bottom: 30px;

  // outline: 1px dashed black;
}

.main.index {
  margin-top: 20px;
  margin-bottom: 100px;

  // outline: 1px dashed black;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // outline: 1px dashed black;
  position: relative;
}

.about__left-data {
  // outline: 1px dashed black;

  @media screen and (min-width: 480px) {
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 550px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 20px;
    margin-bottom: 50px;
  }
}

.about__photo {
  @media screen and (min-width: 480px) {
    max-width: 400px;
  }
  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
  filter: drop-shadow(10px 10px 10px rgb(110, 108, 108));
}

.about__sticky-container {
  position: sticky;
  top: 6em;
}

.about__information {
  display: block;
  max-width: 350px;
  padding: 10px;

  // outline: 1px dashed black;

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 550px;
  }
}

.about__position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about__name {
  font-style: normal;
  font-weight: 700;
  // font-size: 30px;
  line-height: 55px;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    font-size: 25px;
  }

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.about__location {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.about__detailed-info {
  // width: 600px;
  word-wrap: break-word;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 30px;
}

.about__projects {
  margin-right: 250px;
  margin-bottom: 30px;
}

.project__list {
  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-top: 10px;

  display: inline-block;
}
.about__projects {
  width: 100%;
  // width: 300px;

  // outline: 1px dashed black;
}

.project__item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  width: 100%;

  // outline: 1px dashed black;
}

.project__item-text,
.project__item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project__item-link {
  margin-left: 5px;
}

.project__item-bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.about__soft-skills,
.about__language,
.about__certifications {
  margin-bottom: 20px;
}

.soft-skills__title,
.language__title,
.certifications__title,
.projects__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;

  transition: color 250ms $delay;

  &:hover {
    color: #fb6d3a;
  }
}

.soft-skills__list,
.language__list,
.certifications__list {
  margin: 0;
  margin-top: 10px;
  padding-left: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.orange-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
