.section-main {
  padding-top: 100px;
  padding-bottom: 70px;
  outline: 1px dashed black;
}

.section__title {
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}
