.page-header {
  font-family: 'Ubuntu', sans-serif;

  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;

  background-color: $header-background-color;
  color: $header-color;
  font-size: 20px;
  font-weight: 700;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: flex-start;
}

.navigation__logo {
  // margin-right: 200px;
  @media screen and (min-width: 480px) {
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 100px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 260px;
  }
}

// Стилизация блока с кнопками перехода
.navigation__pages {
  display: flex;
  align-items: center;
  padding: 0;
}

.navigation__item {
  @extend %list;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.navigation__link,
.header-contact__link {
  text-decoration: none;
  color: $header-color;

  transition: color 250ms $delay;

  &:hover {
    color: $header-focus-color;
  }
}

.navigation__link--current {
  color: $header-focus-color;
}

// Стилизация блока с контактами

.header__contact {
  @extend %list;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.header-contact__item {
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.header-contact__icon {
  cursor: pointer;

  fill: $header-color;
  transition: fill 250ms $delay;

  &:hover {
    fill: $header-focus-color;
  }
}
.js-header-mail,
.js-header-tel {
  text-decoration: none;
}

.js-header-mail.hidden,
.js-header-tel.hidden {
  display: none;
}
