//animation delay
$delay: cubic-bezier(0.4, 0, 0.2, 1);

//header
// $header-color: #fff;
$header-color: #fff;

// $header-focus-color: #757575;
$header-focus-color: #a9a9a9;

// $header-background-color: #111;
$header-background-color: #3d6970;

//footer
$footer-background-color: #f5f5f5;
