<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SimpleLightbox library</title>
  <link rel="stylesheet" href="../sass/_common.scss" />
  <link rel="stylesheet" href="../sass/miniprojects/button.scss" />
  <link rel="stylesheet" href="../sass/miniprojects/01-gallery.scss" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  .container {
    margin-top: 10px;
  }
</style>

<body>
  <div class="container">
    <button class="btn-home" onclick="document.location='../portfolio.html#ImageGallery'"><i class="fa fa-home"></i>
      Home</button>
    <div class="gallery"></div>
  </div>

  <script src="../js/miniprojects/01-gallery.js" type="module"></script>
</body>

</html>