<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feedback form</title>
  <link rel="stylesheet" href="/src/sass/common.scss" />
  <link rel="stylesheet" href="/src/sass/03-feedback.scss" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="container">
    <!-- <p><a href="/src/index.html">Go back</a></p> -->
    <button class="btn-home" onclick="document.location='../index.html'"><i class="fa fa-home"></i> Home</button>

    <form class="feedback-form" autocomplete="off">
      <label>
        Email
        <input type="email" name="email" autofocus />
      </label>
      <label>
        Message
        <textarea name="message" rows="8"></textarea>
      </label>
      <button class="btn-data" type="submit">Submit</button>
    </form>
  </div>
  <script src="/src/js/03-feedback.js" type="module"></script>
</body>

</html>