<table>
  <!-- Heading -->
  <tr>
    <th class="table__name">Project Name</th>
    <th class="table__description">Project Description</th>
    <th class="table__sources">Additional Resources</th>
  </tr>
  <!-- Image Search -->
  <tr>
    <td>
      <a href="" class="link">Image Search</a>
    </td>
    <td>
      <span class="description">Поиск изображений (информация с публичного API сервиса
        <a href="https://pixabay.com/api/docs/" rel="noopener noreferrer" target="_blank">Pixabay</a>
        )</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://axios-http.com/" rel="noopener noreferrer" class="libraries link"
            target="_blank">Axios</a>
        </li>
        <li class="list__item"><a href="https://github.com/notiflix/Notiflix#readme" rel="noopener noreferrer"
            class="libraries link" target="_blank">Notiflix</a>
        </li>
        <li class="list__item"><a href="https://simplelightbox.com/" rel="noopener noreferrer" class="libraries link"
            target="_blank">SimpleLightbox</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Country Search -->
  <tr>
    <td>
      <a href="#" class="link">Country Search</a>
    </td>
    <td>
      <span class="description">Поиск стран по имени и вывод краткой информации о них (информация с публичного API
        сервиса
        <a href="https://restcountries.com/" rel="noopener noreferrer" target="_blank">Rest Countries v2</a>
        )</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://www.npmjs.com/package/lodash.debounce" rel="noopener noreferrer"
            class="libraries link" target="_blank">Lodash Debounce</a>
        </li>
        <li class="list__item"><a href="https://github.com/notiflix/Notiflix#readme" rel="noopener noreferrer"
            class="libraries link" target="_blank">Notiflix</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Timer -->
  <tr>
    <td>
      <a href="#" class="link">Timer</a>
    </td>
    <td>
      <span class="description">Таймер обратного отсчета</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://flatpickr.js.org/" rel="noopener noreferrer" class="libraries link"
            target="_blank">Flatpickr</a>
        </li>
        <li class="list__item"><a href="https://github.com/notiflix/Notiflix#readme" rel="noopener noreferrer"
            class="libraries link" target="_blank">Notiflix</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Image gallery -->
  <tr>
    <td>
      <a href="./partials/01-gallery.html" class="link" id="ImageGallery">Image gallery</a>
    </td>
    <td>
      <span class="description">Скрипт, котрый динамически создает галлерею и для её просмотра использует
        библиотеку Lightbox</span>
    </td>
    <td>
      <a href="https://simplelightbox.com/" target="_blank" rel="noopener noreferrer"
        class="libraries link">SimpleLightbox</a>
    </td>
  </tr>
  <!-- Video playback -->
  <tr>
    <td>
      <a href="" class="link">Video playback</a>
    </td>
    <td>
      <span class="description">Cкрипт, который сохраняет текущее время воспроизведения
        видео в localStorage и, после перезагрузки страницы, продолжает
        воспроизведение видео с этого времени</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://github.com/vimeo/player.js/#vimeo-player-api" target="_blank"
            rel="noopener noreferrer" class="libraries link">Vimeo Player</a></li>
        <li class="list__item"><a href="https://www.npmjs.com/package/lodash.throttle" target="_blank"
            rel="noopener noreferrer" class="libraries link">Lodash Thtrotle</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Feedback Form -->
  <tr>
    <td>
      <a href="" class="link">Feedback Form</a>
    </td>
    <td>
      <span class="description">Cкрипт, который сохраняет значение полей в локальном хранилище, когда
        пользователь что-то печатает.</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://www.npmjs.com/package/lodash.throttle" target="_blank"
            rel="noopener noreferrer" class="libraries link">Lodash Thtrotle</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Color Switcher -->
  <tr>
    <td>
      <a href="" class="link">Color Switcher</a>
    </td>
    <td>
      <span class="description">Скрипт, который изменяет фон страницы рандомным цветом (с использованием
        setInterval)</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Counter -->
  <tr>
    <td>
      <a href="" class="link">Counter</a>
    </td>
    <td>
      <span class="description">Счетчик, который изменяет значение элемента на "1" при нажатии на
        соответсвующие кнопки</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Boxes -->
  <tr>
    <td>
      <a href="" class="link">Boxes</a>
    </td>
    <td>
      <span class="description">Скрипт, который создает указанное количество элементов</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Font-size control -->
  <tr>
    <td>
      <a href="./partials/05-fontsize.html" class="link" id="FontSizeControl">Font-size control</a>
    </td>
    <td>
      <span class="description">Скрипт, который изменяет размер текста в зависимости от значение ползунка</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>


</table>