<table>
  <!-- Heading -->
  <tr>
    <th class="table__name">Project Name</th>
    <th class="table__description">Project Description</th>
    <th class="table__sources">Additional Resources</th>
  </tr>
  <!-- Image Search -->
  <tr>
    <td>
      <a href="./partials/10-image-search.html" class="link" id="ImageSearch">Image Search</a>
    </td>
    <td>
      <span class="description">Images search (information from the public API service
        <a href="https://pixabay.com/api/docs/" rel="noopener noreferrer" target="_blank"
          class="libraries link">Pixabay</a>)</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://axios-http.com/" rel="noopener noreferrer" class="libraries link"
            target="_blank">Axios</a>
        </li>
        <li class="list__item"><a href="https://github.com/notiflix/Notiflix#readme" rel="noopener noreferrer"
            class="libraries link" target="_blank">Notiflix</a>
        </li>
        <li class="list__item"><a href="https://simplelightbox.com/" rel="noopener noreferrer" class="libraries link"
            target="_blank">SimpleLightbox</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Country Search -->
  <tr>
    <td>
      <a href="./partials/09-country-search.html" class="link" id="CountrySearch">Country Search</a>
    </td>
    <td>
      <span class="description">Search countries by name and displaying detailed information about them (information
        from the public API service
        <a href="https://restcountries.com/" rel="noopener noreferrer" target="_blank" class="libraries link">Rest
          Countries v2</a>)</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://www.npmjs.com/package/lodash.debounce" rel="noopener noreferrer"
            class="libraries link" target="_blank">Lodash Debounce</a>
        </li>
        <li class="list__item"><a href="https://github.com/notiflix/Notiflix#readme" rel="noopener noreferrer"
            class="libraries link" target="_blank">Notiflix</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Timer -->
  <tr>
    <td>
      <a href="./partials/08-timer.html" class="link" id="Timer">Timer</a>
    </td>
    <td>
      <span class="description">Countdown timer</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://flatpickr.js.org/" rel="noopener noreferrer" class="libraries link"
            target="_blank">Flatpickr</a>
        </li>
        <li class="list__item"><a href="https://github.com/notiflix/Notiflix#readme" rel="noopener noreferrer"
            class="libraries link" target="_blank">Notiflix</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Image gallery -->
  <tr>
    <td>
      <a href="./partials/01-gallery.html" class="link" id="ImageGallery">Image gallery</a>
    </td>
    <td>
      <span class="description">Script, that dynamically creates a gallery and uses the Lightbox library to view
        it.</span>
    </td>
    <td>
      <a href="https://simplelightbox.com/" target="_blank" rel="noopener noreferrer"
        class="libraries link">SimpleLightbox</a>
    </td>
  </tr>
  <!-- Video playback -->
  <tr>
    <td>
      <a href="./partials/02-video.html" class="link" id="VideoPlayback">Video playback</a>
    </td>
    <td>
      <span class="description">Script, that saves the current video playback time in localStorage and, after reloading
        the page, continues playing the video from that time</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://github.com/vimeo/player.js/#vimeo-player-api" target="_blank"
            rel="noopener noreferrer" class="libraries link">Vimeo Player</a></li>
        <li class="list__item"><a href="https://www.npmjs.com/package/lodash.throttle" target="_blank"
            rel="noopener noreferrer" class="libraries link">Lodash Thtrotle</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Feedback Form -->
  <tr>
    <td>
      <a href="./partials/03-feedback.html" class="link" id="FeedbackForm">Feedback Form</a>
    </td>
    <td>
      <span class="description">Script, that saves the value of the fields in local storage when the user types
        something.</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="https://www.npmjs.com/package/lodash.throttle" target="_blank"
            rel="noopener noreferrer" class="libraries link">Lodash Thtrotle</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Color Switcher -->
  <tr>
    <td>
      <a href="./partials/06-color-switcher.html" class="link" id="ColorSwitcher">Color Switcher</a>
    </td>
    <td>
      <span class="description">Script, that changes page background with random color (using setInterval).</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Counter -->
  <tr>
    <td>
      <a href="./partials/04-counter.html" class="link" id="Counter">Counter</a>
    </td>
    <td>
      <span class="description">Counter, that changes the element's value to "1" when the corresponding buttons are
        clicked.</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Boxes -->
  <tr>
    <td>
      <a href="./partials/07-boxes.html" class="link" id="Boxes">Boxes</a>
    </td>
    <td>
      <span class="description">Script, that creates the specified number of elements.</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>
  <!-- Font-size control -->
  <tr>
    <td>
      <a href="./partials/05-fontsize.html" class="link" id="FontSizeControl">Font-size control</a>
    </td>
    <td>
      <span class="description">Script, that changes the text size depending on the value of the slider.</span>
    </td>
    <td>
      <ul class="list">
        <li class="list__item"><a href="" onclick="return false;" rel="noopener noreferrer" class="libraries link">-</a>
        </li>
      </ul>
    </td>
  </tr>


</table>